@charset "utf-8";
@import url(css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bowlby+One+SC&family=Gugi&family=Moirai+One&family=Sunflower:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Bagel+Fat+One&family=Bowlby+One+SC&family=Gugi&family=Moirai+One&family=Sunflower:wght@300&display=swap");
//font-family: "Aldrich", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/* font-family: "Staatliches", sans-serif; */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// font-family: "Bowlby One SC", sans-serif;

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
    min-width: 1920px;
}

#fp-nav ul li a span {
    background: #ad7edb;
    width: 6px;
    height: 6px;
}

#fp-nav ul li a.active span {
    background: #ffda06;
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    font-family: 'Pretendard-Regular';
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {
    color: #fff;
}

.fp-viewing-cont1 .depth01:first-child {
    color: #CB98FF;
}
.fp-viewing-cont2 .depth01:nth-child(2) {
    color: #CB98FF;
}
.fp-viewing-cont3 .depth01:nth-child(3) {
    color: #CB98FF;
}
.fp-viewing-cont4 .depth01:nth-child(4) {
    color: #CB98FF;
}
.fp-viewing-cont5 .depth01:nth-child(5) {
    color: #CB98FF;
}

.fp-viewing-cont3 .header .inner {
    height: 100px;
}

.fp-viewing-cont3 .header .inner .marker {
    bottom: -30px;
}

.fp-viewing-cont4 .header .inner {
    height: 100px;
}

.fp-viewing-cont4 .header .inner .marker {
    bottom: -30px;
}

.fp-viewing-cont5 .header .inner {
    height: 100px;
}

.fp-viewing-cont5 .header .inner .marker {
    bottom: -30px;
}

.fp-viewing-cont6 .header .inner {
    height: 100px;
}

.fp-viewing-cont6 .header .inner .marker {
    bottom: -30px;
}



.header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    font-family: 'Pretendard-Regular';
    z-index: 1;

    .inner {
        max-width: 1720px;
        margin: 0 auto;
        height: 150px;
        display: flex;
        align-items: center;
        gap: 90px;

        h1 img {
            padding-left: 80px;
        }

        nav{
            display: flex;
            position: relative;
        .depth01 {
            font-size: 20px;
            font-family: "Bowlby One SC", sans-serif;
            z-index: 9;
                a {
                    display: block;
                    width: 100%;

                    padding: 0 30px;
                }
            }
        }
        .marker{
        width: 80px;
        height: 80px;
        background-color:#fff098;
        border-radius: 50%;
        position: absolute;
        transform: translateX(-50%);
        left:-1000px;
         bottom: -30px;
         box-shadow: 0 0 5px 5px #fff098;
        }
    }
 }/* .header end */

#section0 {
    position: relative;
    background: url(img/bg.png)center center / cover no-repeat;
    height: 100vh;
    font-family: 'Pretendard-Regular';
/*     &::after {
        content: '';
        width: 1px;
        height: 100vh;
        position: absolute;
        left: 360px;
        display: block;
        background-color: #fff;
    }
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top:150px;
        display: block;
        background-color: #fff;
        z-index: 999;
    } */

    @keyframes rotate {
        0% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        }
        100% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        }
      }
      .stars {
        transform: perspective(500px);
        transform-style: preserve-3d;
        position: absolute;
        bottom: 0;
        perspective-origin: 50% 100%;
        left: 50%;
        animation: rotate 90s infinite linear;
      }
      
      .star {
        width: 2px;
        height: 2px;
        background: #F7F7B6;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0 -300px;
        transform: translate3d(0, 0, -300px);
        backface-visibility: hidden;
      }
        .shine1 {
            position: absolute;
            top:20%;
            left: 30%;
        }
        .shine2 {
            position: absolute;
            bottom:20%;
            left: 30%;
        }
        .shine3 {
            position: absolute;
            bottom:20%;
            right:30%;
        }
        .shine4 {
            position: absolute;
            top:20%;
            right:30%;
        }

        .moon {
            width: 530px;
            height: 530px;
            position: absolute;
            top:50%;
            left: 50%;
            background-color: #F4EDA7;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            animation: shine 3.5s infinite;
            z-index: 9;
        }
        @keyframes shine {
            0% {
                box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
            }
            50% {
                box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8);
            }
            100% {
                box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
            }
        }

        .main_text {
        h1 {
            width: 100%;
            text-align: center;
            font-size: 100px;
            position: absolute;
            left: 0;
            top:50%;
            transform: translateY(-50%);
            font-weight: bold;
            z-index: 12;
        }
        p {
            position: absolute;
            top:58%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-top: 20px;
            font-size: 40px;
            z-index: 12;
        }
    }
    
    .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 6%;
        transform: translateX(-50%);
        animation: motion 0.7s linear 0s infinite alternate; margin-bottom: 0;
        img {
            width: 22px;
            height: 66px;
            object-fit: contain;
        }
        span {
            display: block;
            font-size: 18px;
            color: #fff;
        }
    }
    @keyframes motion {
        0% {margin-top: 0px;}
        100% {margin-bottom: 10px;}
    }
}/* #section0 end */

#section1 {
    position: relative;
    background: url(img/bg2.png) center center / cover no-repeat;
/*     &::after {
        content: '';
        width: 1px;
        height: 100vh;
        position: absolute;
        left: 360px;
        display: block;
        background-color: #fff;
    }
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom:135px;
        display: block;
        background-color: #fff;
        z-index: 999;
    } */

    @keyframes rotate {
        0% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        }
        100% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        }
      }
      .stars {
        transform: perspective(500px);
        transform-style: preserve-3d;
        position: absolute;
        bottom: 0;
        perspective-origin: 50% 100%;
        left: 50%;
        animation: rotate 90s infinite linear;
      }
      
      .star {
        width: 2px;
        height: 2px;
        background: #F7F7B6;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0 -300px;
        transform: translate3d(0, 0, -300px);
        backface-visibility: hidden;
      }

    .inner {
        max-width: 1720px;
        margin: 0px auto;
        height: 651px;
        padding-top: 50px;
        .title {
            margin-left: 350px;
            position: relative;
            h1 {
            font-size: 80px;
            color: #CB98FF;
            text-shadow: 0 0 10px rgba(203, 152, 255, 0.726); 
            animation: neon-flicker 1s infinite alternate;
            font-weight: bold;
            }
            .shadow{
                margin-left: 6px;
                position: absolute;
                top:0;
            h2 {
                font-size: 80px;
                font-weight: bold;
            }
        }
    }
    @keyframes neon-flicker {
    0% {
        text-shadow: 
        0 0 10px rgba(250, 241, 114, 0.7), 
        0 0 20pxrgba(250, 241, 114, 0.7), 
        0 0 30px rgba(250, 241, 114, 0.7);
    }
    100% {
        text-shadow: 
        0 0 20px rgba(250, 241, 114, 0.7), 
        0 0 30px rgba(250, 241, 114, 0.7), 
        0 0 40px rgba(250, 241, 114, 0.7);
    }
}

.profile_wrap {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 10px;

.profile {
    padding:0 30px;
    margin-top: 80px;
    margin-left: 75px;
    width: 300px;
    height: 250px;
    z-index: 9;

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    text-align: center;
    h4 {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Aldrich", sans-serif;
        font-weight: 500;
    }
    span {
        display: block;
        margin-top: 10px;
        font-size: 18px;
    }
    }
    .btn_wrap {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
        .btn {
            border: 1px solid #333;
            color: #333;
            width: 150px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            position: relative;
            z-index: 1;
            transition: all 0.4s;
        }
        .btn::after {
            content: "";
            width: 0%;
            height: 100%;
            top: 0;
            position: absolute;
            left: 0;
            transition: all 0.4s;
            background: rgb(246,195,217);
            background: linear-gradient(90deg, rgba(246,195,217,1) 0%, rgba(203,125,255,1) 47%, rgba(207,180,255,1) 100%);
        }
    }
    .btn:hover {
        color: #fff;
        border: 1px solid #fff;
    }
    .btn:hover::after {
        width: 100%;
        z-index: -1;
    }
}

.profile_info {
    padding-left: 40px;
    h3 {
        font-weight: 900;
        position: relative;
    }

    .certificate {
        margin-bottom: 50px;
        h3 {
            font-size: 30px;
            margin-bottom: 15px;
            font-weight: bold;
        }
        p{
            font-size: 20px;
            padding-right: 10px;
        }
        .gtq {
            display: flex;
            margin-bottom: 10px;
        }
        .driver_license {
            display: flex;
        }
    }
    .education {
        margin-bottom: 50px;
        h3 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            font-size: 20px;
            padding-right: 10px;
        }
        .green {
            margin-bottom: 10px;
            display: flex;
            }
        }
        .University {
            display: flex;
        }
    }
    .skill {
        h3 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        img {
            padding-right: 20px;
        }
        .skill_top {
            margin-bottom: 20px;
            img {
                width: 105px;
                height: 100px;
            }
        }
        .skill_bottom {
            img {
                width: 105px;
                height: 75px;
            }
            .figma {
                width: 85px;
                height: 85px;
            }
        }
    }
    .profile_info h3::before {
        content: url(img/반짝.png);
        position: absolute;
        top:-26px;
        left: -33px;
    }
}
}
}/* #section1 end */

#section2 {
    background: rgb(119,123,224);
    background: radial-gradient(circle, rgba(119,123,224,1) 0%, rgba(135,145,239,1) 35%, rgba(108,119,219,1) 100%);
    position: relative;

    .background_img {
        position: absolute;
        top:30%;
        right: 17%;
        width: 415px;
        height: 453px;
        mix-blend-mode: multiply;
        figure {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.7;
            }
        }
    }
    .bg{
        height: 715px;
    
    .inner {
        max-width: 1720px;
        margin: 0 auto;
        height: 651px;
        padding-top: 40px;
        .title{
            width: 100%;
            text-align: left;
            padding-left: 135px;
            font-family: "Staatliches", sans-serif;
            span {
                -webkit-text-stroke: 0;
                color: #333;
            }
        h2 {
            font-size: 70px;
            -webkit-text-stroke: 1px #333;
            color: transparent;
        }
    }
    .swiper {
        position: static;
        .swiper-button-next {
            top:50%;
            right: 53%;
            transform: translateY(-50%);
            color: #fff;
        }
        .swiper-button-prev {
            top:50%;
            left: 8%;
            transform: translateY(-50%);
            color: #ffff;
        }
    }
    .swiper-slide {
        .list {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            gap:80px
        }
    .mockup_wrap {
        width: 40%;
        p {
            margin-right: 120px;
            padding-bottom: 10px;
            text-align: right;
            color: #fff;
        }
        .pc_mockup {
            position: relative;
            img {
                width: 587px;
                height: 594px;
            }
            .nintendo_scroll {
                background: url(img/닌텐도_리뉴얼_pc.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
            .f5nature_scroll {
                background: url(img/F5NATURE_PC_ver.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
            .aromatica_scroll {
                background: url(img/aromatica_pc_ver.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
            .afterblow_scroll {
                background: url(img/afterblow_pc_ver.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
            .gongcha_scroll {
                background: url(img/공차_리디자인.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
            .cgv_scroll {
                background: url(img/CGV_PCVER.png) no-repeat;
                background-size: cover;
                width: 540px;
                height: 304px;
                position: absolute;
                top:24px;
                left: 24px;
            }
        }
        .app_mockup img{
            width: 700px;
            height: 594px;
        }
        @keyframes nintendo {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -2000px;
            }

            100% {
                background-position: 0 0;
            }
        }
        @keyframes f5nature {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -1990px;
            }

            100% {
                background-position: 0 0;
            }
        }
        @keyframes aromatica {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -600px;
            }

            100% {
                background-position: 0 0;
            }
        }
        @keyframes afterblow {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -1280px;
            }

            100% {
                background-position: 0 0;
            }
        }
        @keyframes gongcha {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -810px;
            }

            100% {
                background-position: 0 0;
            }
        }
        @keyframes cgv {
            0%{
            background-position: 0 0;
        }
            50% {
                background-position: 0 -557px;
            }

            100% {
                background-position: 0 0;
            }
        }
        .pc_mockup .nintendo_scroll:hover {
            animation: nintendo 18s infinite ease-in-out;
        }
        .pc_mockup .f5nature_scroll:hover {
            animation: f5nature 15s infinite ease-in-out;
        }
        .pc_mockup .aromatica_scroll:hover {
            animation: aromatica 12s infinite ease-in-out;
        }
        .pc_mockup .afterblow_scroll:hover {
            animation: afterblow 15s infinite ease-in-out;
        }
        .pc_mockup .gongcha_scroll:hover {
            animation: gongcha 12s infinite ease-in-out;
        }
        .pc_mockup .cgv_scroll:hover {
            animation: cgv 12s infinite ease-in-out;
        }
        .mobile_mockup {
            position: absolute;
            bottom: 113px;
            left: 610px;
        }
            img {
                width: 148px;
                height: 285px;
        }
        .nintendoscroll_img {
            background: url(img/닌텐도_리뉴얼_모바일.png) no-repeat;
            background-size: cover;
            width: 134px;
            height: 272px;
            border-radius: 20px;
            position: absolute;
            top:6px;
            left: 7px;
        }
        .f5naturescroll_img {
            background: url(img/F5NATURE_mobile_ver.png) no-repeat;
            background-size: cover;
            width: 134px;
            height: 272px;
            border-radius: 20px;
            position: absolute;
            top:6px;
            left: 7px;
        }
        .aromaticascroll_img {
            background: url(img/aromatica_mobilever.png) no-repeat;
            background-size: cover;
            width: 134px;
            height: 272px;
            border-radius: 20px;
            position: absolute;
            top:6px;
            left: 7px;
        }
        .afterblowscroll_img {
            background: url(img/afterblow_mobile_ver.png) no-repeat;
            background-size: cover;
            width: 134px;
            height: 272px;
            border-radius: 20px;
            position: absolute;
            top:6px;
            left: 7px;
        }
        .icon {
            display: inline-block;
            background: url(img/camera.png) no-repeat ;
            background-size: cover;
            width: 52px;
            height: 16px;
            position: absolute;
            top:7px;
            left: 50px;
            z-index: 1;
        }
    }
    @keyframes nintendomobile {
        0%{
        background-position: 0 0;
    }
        50% {
            background-position: 0 -1088px;
        }

        100% {
            background-position: 0 0;
        }
    }
    @keyframes f5naturemobile {
        0%{
        background-position: 0 0;
    }
        50% {
            background-position: 0 -1600px;
        }

        100% {
            background-position: 0 0;
        }
    }
    @keyframes aromaticamobile {
        0%{
        background-position: 0 0;
    }
        50% {
            background-position: 0 -950px;
        }

        100% {
            background-position: 0 0;
        }
    }
    @keyframes afterblow {
        0%{
        background-position: 0 0;
    }
        50% {
            background-position: 0 -1550px;
        }

        100% {
            background-position: 0 0;
        }
    }
    .mobile_mockup .nintendoscroll_img:hover {
        animation: nintendomobile 15s infinite ease-in-out;
    }
    .mobile_mockup .f5naturescroll_img:hover {
        animation: f5naturemobile 15s infinite ease-in-out;
    }
    .mobile_mockup .aromaticascroll_img:hover {
        animation: aromaticamobile 12s infinite ease-in-out;
    }
    .mobile_mockup .afterblowscroll_img:hover {
        animation: afterblow 15s infinite ease-in-out;
    }
    .text_box {
        position: relative;
        width: 40%;
        height: 500px;
        border-radius: 30px;
        padding: 30px;
        .main_title {
            margin-bottom: 80px;
            h2 {
                font-size: 50px;
                font-family: "Staatliches", sans-serif;
                color: #fff;
            }
        }
        .sub_title {
            ul{
            li {
                margin-bottom: 25px;
               span:first-child {
                display: inline-block;
                width: 100px;
                padding-right: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
               }
               span:nth-child(2) {
                display: inline-block;
                padding-left: 20px;
                font-size: 20px;
                color: #fff;
               }
               
            }
        }
    }
    .wrapping{
        display: flex;
    .btn_wrap{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .btn {
            position: relative;
            width: 200px;
            padding: 14px 40px;
            border-radius: 15px;
            border: none;
            color: #fff;
            cursor: pointer;
            outline: none;
            border: 1px solid #fff;
            overflow: hidden;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-right: 20px;
            transition: all 0.3s ease-in-out;
            a {
                display: block;
                width: 100%;
                font-size: 20px;
                font-weight: 500;
            }
            .btn::after {
                content: "";
                position: absolute;
                top: 0;
                right: -100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                transition: right 0.2s ease-in-out;
            }
        }
        .btn:hover {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border: 1px solid #76c1ff;
            color: #bbf1ff;
        }
    }
    .qr_code {
        img {
            width: 120px;
            height: 120px;
        }
    }
    }
}
}
 }//inner end
 }//bg end
}/* #section2 end */

#section3 {
    background: rgb(119,123,224);
    background: radial-gradient(circle, rgba(119,123,224,1) 0%, rgba(134,144,238,1) 35%, rgba(107,123,222,1) 100%);
    .bg {
        height: 715px;
    }
    .inner {
        max-width: 1720px;
        margin: 0 auto;
        height: 651px;
        .title{
            padding-top: 20px;
            width: 100%;
            text-align: left;
            padding-left: 170px;
            span {
                -webkit-text-stroke: none;
                color: #333;
            }
        h2 {
            font-size: 60px;
            -webkit-text-stroke: 1px #333;
            color: transparent;
        }
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        height: 500px;
        background-color: rgb(194 198 255);
        box-shadow: 5px 3px 5px 3px #33333386;

        .title_box {
            width: 40%;
            display: flex;
            flex-direction: column;
            .title_top {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                font-family: "Staatliches", sans-serif;
                h3 {
                    padding-left: 30px;
                    font-size: 80px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 70px;
                    padding-left: 210px;
                    -webkit-text-stroke: 1px #333;
                    color: transparent;
                }
            }
            .title_bottom {
                display: flex;
                flex-direction: column;
                font-family: "Staatliches", sans-serif;
                h3 {
                    padding-left: 30px;
                    font-size: 80px;
                    margin-bottom: 20px;
                }
                span {
                    font-size: 70px;
                    padding-left: 210px;
                    -webkit-text-stroke: 1px #333;
                    color: transparent;
                }
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets{
        display: none;
    }

    .swiper  {
        width: 80%;
    }
        .design span {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            padding-left: 20px;
        }
        .design span::before {
            display: block;
            content: '';
            background-image: url(img/icons8-별-48.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            position: absolute;
            top:-3px;
            left: 0;
        }
        .swiper-slide {
            overflow: hidden;
            .item {
                width: 270px;
                figure {
                    height: 400px;
                    border-radius: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                    }
                }
            }
            .tool_text {
                margin-top: 10px;
            p {
                font-size: 18px;
                padding-left: 10px;
                text-align: left;
            }
        }
            .item:hover img {
                border-radius: 15px;
                transform: scale(0.8);
                transition: all 0.5s;
            }

        }
    }

 }
}/* section3 end */

#section4 {
    background: url(img/bg.png)center center / cover no-repeat;

    @keyframes rotate {
        0% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        }
        100% {
          transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        }
      }
      .stars {
        transform: perspective(500px);
        transform-style: preserve-3d;
        position: absolute;
        bottom: 0;
        perspective-origin: 50% 100%;
        left: 50%;
        animation: rotate 90s infinite linear;
      }
      
      .star {
        width: 2px;
        height: 2px;
        background: #F7F7B6;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0 -300px;
        transform: translate3d(0, 0, -300px);
        backface-visibility: hidden;
      }
    .bg {
        height: 715px;
    }
    .inner {
        max-width: 1720px;
        margin: 0 auto;
        height: 651px;
        .info_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                margin-top: 70px;
                h1 {
                    font-family: "Staatliches", sans-serif;
                    font-size: 75px;
                }
            }

            .qr_code {
                margin-top: 20px;
            }
            .my_info {
                text-align: center;
                margin-top: 15px;
                p{
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                span {
                    font-size: 25px;
                }
                p::before {
                    content: '';
                    background-image: url(img/Vector.png);
                    background-size: 30px 30px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    vertical-align: middle;
                }
                span::before {
                    content: '';
                    background-image: url(img/icons8-새-게시물-30.png);
                    background-size: 30px 30px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    vertical-align: middle;
                }
            }
        }
        .text_slide {
            overflow: hidden;
            margin-top: 20px;
         p {
            font-family: "Staatliches", sans-serif;
            font-size: 40px;
            color: transparent;
            -webkit-text-stroke: 1px #f6ff70;
            padding: 30px 0;
            animation: textslide 20s infinite linear;
            font-size: 50px;
            white-space: nowrap;
         }   
        }
        @keyframes textslide {
            100% {
                transform: translateX(-100%);/* 시작이 0일때는 생략가능 */
            }
        }
}
        .bottom {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(180deg);
            span {
                display: block;
                animation: move 0.7s linear 0s infinite alternate; margin-top: 0;
                img {
                    width: 45px;
                    height: 40px;
                }
            }
        }
        @keyframes move {
            0% {margin-top: 0px;}
            100% {margin-top: 10px;}
        }
}/* #section4 end */

#fp-nav li:last-child{
    display: none;
}

#footer {
    padding: 20px;
    background-color: #000;

    .footer_txt {
        text-align: center;
        color: #fff;

        span {
            display: block;
            margin-top: 10px;
            font: 14px;
        }
    }
}